.aboutID {
    padding: 8vh 0;
  }
  .about {
    width: 60%;
    margin: 0 auto;
    display: flex;
  }
  .aboutHeader {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
 .profilepic {

 }
  .aboutText {
      padding: 20px;
  }
  .skills {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
  }
  .skillsHeader {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
  }
  .skillsSection {
    float: left;
    width: 33%;
    text-align: center;
  }
  .skillsItem {
    list-style-type: none;
  }
  
  .skillsimg {
    height: 64px;
    width: 64px;
    padding: 0px 5px;
  }
  