* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  background: #242423;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 1;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  border-bottom: 1px solid #222;
  background: #222;
  padding: 15px 0;
}
.logo {
  /* color: rgb(226,226,226); */
  text-transform: uppercase;
}
.logo a {
  text-decoration: none;
  font-size: 20px;
  color: #08fdd8;
}
.navlinks {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.navlinks li {
  list-style: none;
}
.navlinks a {
  text-decoration: none;
  color: #11fc77;
  font-weight: bold;
}
.navlinks a:hover {
  color: #08fdd8;
}

@media only screen and (max-width: 1100px) {
  .navlinks {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
  .navlinks a {
    color: #11fc77;
  }
}
