#skills {
    padding: 8vh 0;
    /* background-color: rgb(123, 128, 126); */
    background-color: var(--sec-color);
  }
  .skills {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
  }
  .skills-header {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
  }
  .skills-section {
    float: left;
    width: 33%;
    text-align: center;
  }
  .skills-item {
    list-style-type: none;
  }
  
  .skills-img {
    height: 64px;
    width: 64px;
    padding: 0px 5px;
  }
  